# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build output directories
dist/
build/
azure_oauth.egg-info/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore cache folders
azure_oauth/*/
azure_oauth/http_cache.sqlite